.hero {
display: none;
}

.sidebar-description {
  display: none;
}

@media (min-width: 48em) {
  .content {
    padding-top: 1rem;
  }

  .hero {
    border-radius: 0;
    display: block;
    margin-left: 18rem;
    margin-right: 0;
    margin-top: 0;
    max-width: 75%;
  }

  .related {
    border-top: 0;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  .sidebar-description{
    display: block;
  }
}

.related {
  border-top: 0;
}
