---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--page  content  typeset">
    
    <h1>{{ page.title }}</h1>
    {{ content }}
    <hr>

    <div class="posts">
        {% for business in site.businesses %}
        <div class="post">
          <h1 class="post-title">
            <a href="{{ business.url | relative_url }}">
              {{ business.title }}
            </a>
          </h1>
          <a href="{{ business.url | relative_url }}">
            <img src="{{business.image | relative_url }}" alt="{{business.title}}" />
          </a>
        </div>
        <hr>
        {% endfor %}
      </div>

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
